.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-size: 0.85rem;
        font-weight: 600;
        opacity: 0.95;
    }

    input,
    select,
    textarea {
        border: 1.5px solid rgba(25, 29, 33, 0.45);
        border-radius: 0.45rem;
        padding: 0.75rem 1rem;
        background-color: transparent;
        /* font-size: 1rem; */
    }
}

.from-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem 0;

    label {
        font-size: 0.85rem;
        font-weight: 600;
        opacity: 0.95;
    }
}

.input-error {
    color: #ff3838;
    font-weight: 600;
    font-size: 0.7rem;
}
